html {
  font: var(--baseFontWeight) var(--baseFontSize) / var(--baseLineHeight)
    var(--baseFontFamily);
}

/* stylelint-disable-next-line selector-class-pattern */
.fancybox__backdrop {
  /* stylelint-disable-next-line custom-property-pattern */
  --fancybox-bg: #0003;
}

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 14px;
  margin: 0;
}

button {
  padding: 0;
}